name: Containerize In-Vehicle Stack

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Ibeji
        uses: actions/checkout@v2
        with:
          repository: eclipse-ibeji/ibeji

      - name: Build and push Docker image for Ibeji Digital Twin Service
        run: |
          docker build -t ghcr.io/ladatz/sdvblueprint/eclipse-ibeji/invehicle-digital-twin:0.1.0-amd64 -f Dockerfile_integrated.amd64 .
          docker build -t ghcr.io/ladatz/sdvblueprint/eclipse-ibeji/invehicle-digital-twin:0.1.0-arm64 -f Dockerfile_integrated.arm64 .
          docker push ghcr.io/ladatz/sdvblueprint/eclipse-ibeji/invehicle-digital-twin:0.1.0-amd64
          docker push ghcr.io/ladatz/sdvblueprint/eclipse-ibeji/invehicle-digital-twin:0.1.0-arm64
          docekr buildx imagetools create -t ghcr.io/ladatz/sdvblueprint/eclipse-ibeji/invehicle-digital-twin:0.1.0 ghcr.io/ladatz/sdvblueprint/eclipse-ibeji/invehicle-digital-twin:0.1.0-amd64 ghcr.io/ladatz/sdvblueprint/eclipse-ibeji/invehicle-digital-twin:0.1.0-arm64
