# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.
# SPDX-License-Identifier: MIT

name: Containerize In-Vehicle Stack - Chariott

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Set up Docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Login to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Chariott
        uses: actions/checkout@v2
        with:
          repository: eclipse-chariott/chariott
          ref: 0.2.1
  
      - name: Build and push multi-platform Docker image for Chariott Service Discovery
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.service_discovery.multi
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/eclipse-sdv-blueprints/software-orchestration/eclipse-chariott/service-discovery:0.2.1
